/* DEFINIZIONE DELLA NAVBAR, DEL LOGO E DEL MENU ("FL-ul", "FL-li") */

.FL-nav{
    /* height: 80px; */
    background-color: #fff;
    line-height: 30px;
    padding: 20px 0 0 0;
}

.logo img{
    width: 150px;
    vertical-align: middle;
}

.FL-ul .FL-li{
    display: inline-block;
    padding-left: 20px;
}

.FL-ul .FL-li a{
    text-decoration: none;
    color: #000;
}

.FL-ul .FL-li a:hover{
    color: blue;
}

/* DEFINIZIONE PRIMA SEZIONE CON JUMBOTRON */

.FL-first-sect{
    /* height: 500px; */
    background-color: #015fff;
    padding: 20px 0 20px 0;
}

.titolo h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.sottotitolo h3{
    /* font-weight: normal; */
    font-size: 22px;
    color: #fff;
}

.jumbotron{
    padding-top: 20px;
    /* height: 400px; */
    text-align: center;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20pz;
}

.jumbotron h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

.jumbotron form{
    /* background-color: red; */
    width: 70%;
    margin: 0 auto;
}

.jumbotron .btn{
    width: 100%;
    margin-top: 20px;
    background-color: #0069ff;
    border: none;
}

.jumbotron .btn span{
    font-weight: bold;
    color: #fff;
}

.jumbotron .FL-google-btn{
    width: 75%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid blue;
}

.jumbotron .FL-github-btn{
    width: 20%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid blue;
}

.jumbotron .FL-google-btn span{
    font-weight: bold;
    color: blue;
    font-size: 14px;
}

.jumbotron .FL-github-btn span{
    font-weight: bold;
    color: blue;
    font-size: 14px;
}

/* DEFINIZIONE SECONDA SEZIONE */

.FL-second-sect{
    /* height: 200px; */
    background-color: #f3f5f9;
    padding: 20px 0 20px 0;
}

.FL-second-sect .col-lg-6{
    text-align: center;
}

.FL-second-sect .FL-customers-img{
    margin: 20px 0;
}

.FL-second-sect .col-lg-6 a{
    text-decoration: none;
}

.FL-second-sect .FL-titolo-sec-sect h4{
    font-weight: bold;
    color: #5b6991;
}

/* DEFINIZIONE TERZA SEZIONE */

.FL-third-sect{
    /* height: 400px; */
    background-color: white;
    text-align: center;
    padding: 50px 0;
}

.FL-third-sect h2{
    color: #031b4e;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 20px;
}

.FL-third-sect p{
    color: #5b6987;
    font-size: 20px;
    margin-bottom: 20px;
}

.FL-third-sect .FL-aside button{
    display: block;
    border: none;
    margin: 20px 0;
}

.FL-third-sect .FL-aside .active{
    background-color: #0069ff;
}

.FL-third-sect .FL-Kubernetes .FL-Kubernetes-img{
    text-align: left;
}

.FL-third-sect .FL-Kubernetes{
    text-align: left;
}

.FL-third-sect .FL-Kubernetes h3{
    font-size: 20px;
    color: #031b4e;
    font-weight: bold;
}

.FL-third-sect .FL-Kubernetes p{
    font-size: 16px;
}

/* DEFINIZIONE QUARTA E SETTIMA SEZIONE */

.FL-forth-sect, .FL-seventh-sect{
    /* height: 500px; */
    background-color: #f3f5f9;
    padding: 20px 0 20px 0;
}

/* QUARTA SEZIONE */

.FL-forth-sect{
    text-align: center;
}

.FL-forth-sect h2{
    font-size: 42px;
    color: #031b4e;
    font-weight: bold;
}

.FL-forth-sect p{
    font-size: 16px;
    color: #031b4e;
    margin: 20px 0;
}

.FL-forth-sect img{
    width: 750px;
    margin: 30px 0;
}

/* DEFINIZIONE QUINTA SEZIONE */

.FL-fifth-sect{
    /* height: 400px; */
    background-color: #fff;
    padding: 70px 0;
}

.FL-fifth-sect{
    text-align: center;
}

.FL-Builtforbusiness{
    text-align: left;
}

.FL-Builtforbusiness h3{
    font-size: 20px;
    color: #031b4e;
    font-weight: bold;
}

.FL-Builtforbusiness p{
    font-size: 16px;
}

.FL-Builtforbusiness a{
    font-size: 16px;
    text-decoration: none;
    color: #1569ff;
    font-weight: bold;
}

.FL-fifth-sect h2{
    font-size: 38px;
    color: #031b4e;
    font-weight: bold;
    margin-bottom: 50px;
}

/* DEFINIZIONE SESTA SEZIONE */

.FL-sixth-sect{
    height: 400px;
    background-color: #031b4e;
    padding: 90px 0;
    color: white;
    text-align: center;
}

/* DEFINIZIONE OTTAVA SEZIONE */

.FL-eight-sect{
    height: 130px;
    background-color: #0064ff;
    padding: 20px 0 20px 0;
    color: white;
}

/* DEFINIZIONE FOOTER */

footer{
    height: 500px;
    background-color: #010e28;
    padding: 20px 0 20px 0;
}
