@media screen and (max-width: 1200px) {
  .navbar-default .navbar-nav > li > a{
      color: #031b4f;
      padding: 11px 10px;
      font-size: 12px;
  }

  body{
      text-align: center;
  }
}

@media screen and (max-width: 992px) {

    .row .FL-logo{
    }

    .row .FL-logo img{
        width:100px;
    }

    .FL-bottoni .btn{
        padding: 5px;
        font-size: 12px;
    }

    .navbar-default .navbar-nav > li > a{
        color: #031b4f;
        padding: 11px 5px;
        font-size: 12px;
    }

    body{
        text-align: center;
    }

    .FL-forth-sect .row img{
        width: 600px;
        margin: 30px 0;
    }

    .FL-sixth-sect .container .row .FL-first-city-col .FL-data-center:last-child{
        border-bottom: 1px solid #fff;
    }
}

@media screen and (max-width: 768px) {
    .FL-forth-sect .row img{
        width: 600px;
        margin: 30px 0;
    }

    .FL-fifth-sect .container{
        text-align: center;
    }

    .FL-fifth-sect .container .row{
        text-align: center;
    }

    .FL-eight-sect .container .row .FL-bottone{
        text-align: center;
    }
}
/* DEFINIZIONE DELLA NAVBAR, DEL LOGO E DEL MENU ("FL-ul", "FL-li") */

.navbar-default{
    /* height: 80px; */
    background-color: #fff;
    padding: 20px 0;
    border: none;
    margin-bottom: 0;
}

.navbar-default .FL-logo{
    padding-top:10px;
}

.navbar-default img{
    width: 150px;
}

.FL-bottoni{
    text-align: right;
}

.FL-sign-in{
    border: 1px solid blue;
    color: blue;
    background-color: #fff;
    font-weight: bold;
}

.FL-sign-up{
    border: none;
    color: #fff;
    background-color: blue;
    font-weight: bold;
}


/* DEFINIZIONE PRIMA SEZIONE CON JUMBOTRON */

.FL-first-sect{
    /* height: 500px; */
    background-color: #015fff;
    padding: 120px 0;
    margin-top: 30px;
}

.titolo h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.sottotitolo h3{
    /* font-weight: normal; */
    font-size: 22px;
    color: #fff;
}

.jumbotron{
    padding-top: 20px;
    /* height: 400px; */
    text-align: center;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20pz;
}

.jumbotron h2{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
}

.jumbotron form{
    /* background-color: red; */
    width: 70%;
    margin: 0 auto;
}

.jumbotron .btn{
    width: 100%;
    margin-top: 20px;
    background-color: #0069ff;
    border: none;
}

.jumbotron .btn span{
    font-weight: bold;
    color: #fff;
}

.jumbotron .FL-google-btn{
    width: 75%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid blue;
}

.jumbotron .FL-github-btn{
    width: 20%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid blue;
}

.jumbotron .FL-google-btn span{
    font-weight: bold;
    color: blue;
    font-size: 14px;
}

.jumbotron .FL-github-btn span{
    font-weight: bold;
    color: blue;
    font-size: 14px;
}

/* DEFINIZIONE SECONDA SEZIONE */

.FL-second-sect{
    /* height: 200px; */
    background-color: #f3f5f9;
    padding: 20px 0 20px 0;
}

.FL-second-sect .col-lg-6{
    text-align: center;
}

.FL-second-sect .FL-customers-img{
    margin: 20px 0;
}

.FL-second-sect .col-lg-6 a{
    text-decoration: none;
}

.FL-second-sect .FL-titolo-sec-sect h4{
    font-weight: bold;
    color: #5b6991;
}

/* DEFINIZIONE TERZA SEZIONE */

.FL-third-sect{
    /* height: 400px; */
    background-color: white;
    text-align: center;
    padding: 50px 0;
}

.FL-third-sect h2{
    color: #031b4e;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 20px;
}

.FL-third-sect p{
    color: #5b6987;
    font-size: 20px;
    margin-bottom: 20px;
}

.FL-third-sect .FL-aside button{
    display: block;
    border: none;
    margin: 20px 0;
}

.FL-third-sect .FL-aside .active{
    background-color: #0069ff;
}

.FL-third-sect .FL-Kubernetes .FL-Kubernetes-img{
    text-align: left;
}

.FL-third-sect .FL-Kubernetes{
    text-align: left;
}

.FL-third-sect .FL-Kubernetes h3{
    font-size: 20px;
    color: #031b4e;
    font-weight: bold;
}

.FL-third-sect .FL-Kubernetes p{
    font-size: 16px;
}

/* DEFINIZIONE QUARTA E SETTIMA SEZIONE */

.FL-forth-sect, .FL-seventh-sect{
    /* height: 500px; */
    background-color: #f3f5f9;
    padding: 50px 0;
}

/* QUARTA SEZIONE */

.FL-forth-sect{
    text-align: center;
}

.FL-forth-sect h2{
    font-size: 42px;
    color: #031b4e;
    font-weight: bold;
}

.FL-forth-sect p{
    font-size: 16px;
    color: #031b4e;
    margin: 20px 0;
}

.FL-forth-sect img{
    width: 750px;
    margin: 30px 0;
}

/* DEFINIZIONE QUINTA SEZIONE */

.FL-fifth-sect{
    /* height: 400px; */
    background-color: #fff;
    padding: 70px 0;
}

.FL-fifth-sect{
    text-align: center;
}

.FL-Builtforbusiness{
    text-align: left;
}

.FL-Builtforbusiness h3{
    font-size: 20px;
    color: #031b4e;
    font-weight: bold;
}

.FL-Builtforbusiness p{
    font-size: 16px;
}

.FL-Builtforbusiness a{
    font-size: 16px;
    text-decoration: none;
    color: #1569ff;
    font-weight: bold;
}

.FL-fifth-sect h2{
    font-size: 38px;
    color: #031b4e;
    font-weight: bold;
    margin-bottom: 50px;
}

/* DEFINIZIONE SESTA SEZIONE */

.FL-sixth-sect{
    /* height: 900px; */
    background: #031b4e url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
    color: white;
    text-align: center;
}

.FL-sixth-sect h2{
    font-size: 36px;
    font-weight: bold;
}

.FL-sixth-sect .FL-sottotitolo{
    font-size: 20px;
}

.FL-sixth-sect .FL-data-center{
    /* background-color: red; */
    border-bottom: 1px solid #fff;
    width: 100%;
    /* line-height: 20px; */
    /* vertical-align: middle; */
    margin: 20px 0;
}

.FL-sixth-sect p{
    font-size: 12px;
}

.FL-sixth-sect .FL-data-center .sigla{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.FL-sixth-sect .FL-data-center .city{
    font-size: 14px;
    color: #7da4b8;
}

.FL-sixth-sect .FL-data-center a{
    font-size: 14px;
    text-decoration: none;
    color: #0cb8d2;
}

.FL-sixth-sect .FL-data-center a:hover{
    color: blue;
}

.FL-first-city-col .FL-data-center:last-child, .FL-second-city-col .FL-data-center:last-child{
    border-bottom: none;
}

/* SETTIMA SEZIONE */

.FL-seventh-sect{
    text-align: center;
}

.FL-seventh-sect h2{
    font-size: 36px;
    font-weight: bold;
    color: #031b4e;
}

.FL-seventh-sect p{
    font-size: 20px;
    color: #031b4e;
}

.FL-white-box{
    /* height: 300px; */
    background-color: #fff;
    margin: 50px 0;
    text-align: center;
    padding: 40px 0;
}

.FL-white-box img{
    height: 30px;
    margin: 20px 0;
}

.FL-quote{
    padding: 20px;
}

.FL-quote p{
    font-size: 26px;
    color: #5b6987;
}

.FL-quote-autor{
    padding: 10px;
}

.FL-quote-autor p:first-child{
    font-size: 16px;
    color: #5b6987;
}

.FL-quote-autor p:last-child{
    font-size: 12px;
    color: #5b6987;
}

/* DEFINIZIONE OTTAVA SEZIONE */

.FL-eight-sect{
    /* height: 130px; */
    background-color: #0064ff;
    padding: 50px 0;
    color: white;
    line-height: 60px;
}

.FL-eight-sect h3{
    font-size: 36px;
    font-weight: bold;
}

.FL-eight-sect .FL-bottone{
    text-align: right;
}

.FL-eight-sect .btn{
    margin-top: 20px;
    background-color: #fff;
    border: none;
    color: #0069ff;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 18px;
}



/* DEFINIZIONE FOOTER */

footer{
    /* height: 800px; */
    background-color: #010e28;
    padding: 20px 0 20px 0;
}

footer h3{
    color: #fff;
    font-size: 16px;
}

footer .col-lg-2{
    text-align: left;
}


footer .list-group .list-group-item{
    background-color: #010e28;
    border: none;
    padding: 10px 0;
}

footer .list-group .list-group-item a{
    text-decoration: none;
    color: #80878d;
}

footer .list-group .list-group-item a:hover{
    color: #fff;
}

.FL-footer-bottom{
    color: #fff;
    padding: 20px 0;
}

.FL-footer-bottom h4{
    font-size: 14px;
}

.FL-footer-bottom a{
    font-size: 20px;
    padding-left: 10px;;
    color: #80878d;
}

.FL-footer-bottom a:hover{
    color: #fff;
}

.FL-footer-bottom .FL-social{
    text-align: right;

}
